APPS_SCRIPT_WEB_APP_URL=https://script.google.com/macros/s/AKfycbxNedsgXyOod7VAhSAz4NPcWgvmCLt91weCRj2S-W8pUZMuufi5lFXh1wVq89oBj4Srog/exec


# Логины для v0.2. Можно поменять под каждого заказчика.
APP_USERS_JSON=[{"id":"customer","name":"Заказчик","role":"customer","password":"customer123"},{"id":"contractor","name":"Подрядчик","role":"contractor","password":"contractor123"},{"id":"curator","name":"Куратор","role":"curator","password":"curator123"}]
